
.navbar { background: white;
width :100%;
left: 0;
top: 0;
padding: 10px;
margin: 0 0 0 0;
}

.navbar-brand { background-color: aqua;
    color: white;
    margin: 0;
    
}
.dropdown { margin: 0;
color: gray;
}

.comparisons {margin: 0;
    color: gray;
}

.data {margin: 0;
    color: gray;
}


/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: gray;
    background: #DADADA;
  }

 
  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  h1 {font-size: 28px;
    color: #000;
    text-align: left;
  }
  
  h2 {font-size: 28px;
    color: black;
    text-align: Left;
  }
  
  p {text-align: justify;
    overflow-wrap: normal
}
  
  
  /* Selecting elements by class */
  .container1 {
    width: 55%;
    margin-left: 20 px;
    backface-visibility: white;
    margin-top: 20px;
    margin-right: 20px;
     
  }

  section {
    float: left;
    margin: 0 1.5% 24px 1.5%;
    width: 70%;
    background: white;
  }

  .container2 {
    width: 35%;
    margin-left : 10px;
    backface-visibility: white;
    margin-top: 10px ;
    top: 10px;
    right: -40px;

  }

  aside {
    float: right;
    margin-left: auto;
    width: 30%;
    background: white;
    
  }
 
 
  #figure {
    position: relative;
  }
  
  
  #main-project {
    width: 100%;
  }
  

  .project-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    overflow: auto;
  }
   
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  .dropdown {
    visibility: visible;
  }
  .navbar
  {
    visibility: visible;
}